.main-btn {
    background: var(--blue-color);
    min-height: 45px;
    min-width: 200px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    border: none;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }

    &:active {
        outline: none;
    }
}

@media (max-width: 620px) {
    .main-btn {
        min-height: 25px;
        font-size: 10px;
        min-width: 120px;
    }
}