.nav-crops {
    display: -webkit-flex;
    align-items: center;

    &__item {
        cursor: pointer;
        transition: all .3s ease;

        p {
            font-size: 10px;
            font-weight: 500;
            color: #00000080;
            margin: 0 9px 0 0;
            transition: all .3s ease;
        }

        &:hover {
            p {
                color: #000000;
            }
        }

        &.is-selected {
            p {
                color: #000000;
            }

            &:hover {
                opacity: .8;
            }
        }

        img {
            margin-right: 9px;
        }
    }
}