.main-header {
    width: 100%;
    background: var(--white-color);
    min-height: 172px;
    box-shadow: 0px -14px 35px rgba(0, 110, 180, 0.15);
    z-index: 9;
    position: relative;
    top: 0;
    transition: all .3s ease;

    &__top {
        height: 120px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);

        &__titles {
            height: inherit;
            margin: 0 18px;

            h1, h2 {
                color: rgba(0, 0, 0, 0.7);
                font-size: 16px;
            }

            h1 {
                font-weight: bold;
                color: var(--black-color);
            }
        }

        &__m-langs {
            display: none;
        }

        &__langs > div {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            transition: all .3s ease;
            
            &:nth-child(2) {
                margin: 0 18px;
            }

            &.is-active, &:hover {
                color: var(--black-color);
            }
        }

        &__m-menu {
            display: none;
        }

        &__logo {
            width: 62px;
            height: 62px;
            cursor: pointer;
            transition: all .3s ease;

            &:hover {
                opacity: .9;
            }

            svg {
                width: inherit;
                height: inherit;
            }
        }
    }

    &__nav {
        min-height: 52px;

        &__item {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.5);
            margin-right: 38px;
            cursor: pointer;
            transition: all .3s ease;
            min-height: 52px;

            &.is-active, &:hover  {
                color: var(--blue-color);
            }
        }

        & > a {
            font-weight: 500;
            color: var(--black-color);

            & > span {
                margin: 0 3px;
                font-weight: 600;
            }
        }
    }
}

.nav-dropdown {
    min-height: 256px;
    background: var(--white-color);
    width: 100%;
    position: absolute;
    box-shadow: 0px 17px 35px rgba(0, 110, 180, 0.05);
    z-index: 6;
    left: 0;
    right: 0;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    top: 172px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);

    &.is-open {
        opacity: 1;
        visibility: visible;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 500px 1fr;
        padding: 36px 0;
        gap: 20px;

        & > div {
            display: -webkit-flex;
            flex-direction: column;
        }
    }

    a, p {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 14px;
        width: fit-content;
    }

    a {
        color: var(--black-color);
        transition: all .3s ease;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: var(--blue-color);
            text-decoration: none;
        }
    }

    p {
        color: rgba(0, 0, 0, 0.5);

        &.in-bottom {
            margin-top: 14px;
        }
    }
}

@media (max-width: 1020px) {
    .main-header {
        min-height: 120px;

        &__top {
            border: none;

            &__langs {
                display: none;
            }

            &__m-langs {
                display: -webkit-flex;

                & > div {
                    margin-right: 10px;
                }
            }

            &__logo {
                width: 60px;
                height: 60px;
            }

            &__titles {
                h1, h2 {
                    font-size: 14px;
                }
            }

            &__m-menu {
                display: -webkit-flex;
                margin-left: 20px;
                width: 32px;
                height: 32px;

                svg {
                    width: inherit;
                    height: inherit;
                }
            }
        }

        &__nav {
            display: none;
        }
    }

    .nav-dropdown {
        display: none !important;
    }
}

@media (max-width: 560px) {
    .main-header {
        min-height: 60px;

        &__top {
            height: 60px;

            &__titles {
                margin: 0 8px;

                h1, h2 {
                    font-size: 2vw;
                }
            }

            &__logo {
                width: 30px;
                height: 30px;
            }

            &__m-menu {
                width: 24px;
                height: 24px;
                margin-left: 8px;

                svg {
                    width: inherit;
                    height: inherit;
                }
            }

            &__m-langs {
                & > div {
                    font-size: 8px;
                    margin-right: 5px;
                }

                svg {
                    width: 12px;
                }
            }
        }
    }
}