.main-slider {
    height: 600px;
    width: 100%;
    position: relative;

    &__slide {
        object-fit: cover;
        height: inherit;
        width: 100%;
        transition: opacity .6s ease-in;
        position: absolute;
        z-index: 2;
    }

    &__icon {
        position: absolute;
        z-index: 3;
        top: 50%;
        transform: translateY(-50%);
        width: 48px;
        height: 48px;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            opacity: .9;
        }

        &.left {
            left: 38px;
        }

        &.right {
            right: 38px;
        }
    }
}